.navcolor {
  background-color: #00c9ff;
}

.jumbotron {
  background-color: #92fe9d;
  margin-bottom: 0px;
}

body {
  padding: 50px 0px 0px 0px;
  z-index: 0;
}

.tab-content {
  padding: 10px;
}

.tab-content {
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 10px;
}

.row-content {
  min-height: 300px;
  margin: 0px auto;
}

.boxfirst {
  background-color: #1e9600;
  min-height: 400px;
  padding: 0px 0px 50px 0px;
}

.boxsecond {
  background-color: #dc2430;
  min-height: 400px;
  padding: 0px 0px 50px 0px;
}

.boxthird {
  background-color: #d04ed6;
  min-height: 400px;
  padding: 0px 0px 50px 0px;
}

.boxfourth {
  background-color: #004ff9;
  min-height: 400px;
  padding: 0px 0px 50px 0px;
}

footer {
  background-color: #2c3e50;
  min-height: 200px;
  padding-top: 80px;
}
